<!-- Define a function to render the payment -->
<% function renderPayment(payment) { %>
    <div class="item-details">
      <article>
        <h2>FirstName: <%= payment.firstName %></h2>
        
        <p>
          <strong>Amount:</strong> <%= payment.amount %><br>
          <strong>Method:</strong> <%= payment.method %><br>
          <strong>Status:</strong> <%= payment.status %><br>
        </p>
        <br>
        <!-- <div><strong>Address:</strong><%= payment.address %></div> -->
        <!-- Update button -->
        <form
          class="action-form"
          method="GET"
          action="/single-payment/update/<%= payment._id %>"
        >
          <button type="submit" class="update">Update</button>
        </form>
    
        <!-- Delete button -->
        <form
          class="action-form"
          method="POST"
          action="/single-payment/<%= payment._id %>?_method=DELETE"
        >
          <button type="submit">Delete</button>
        </form>
      </article>
    </div>
    <% } %>
    
    <!-- <% 
    function formatDate(dateString) {
        const date = new Date(dateString);
        // Format the date as desired (e.g., YYYY-MM-DD)
        const formattedDate = date.toLocaleDateString('fi-FI', { year: 'numeric', month: 'long', day: 'numeric' });
        return formattedDate;
    } 
    %> -->
    
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Single Payment</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <!-- Link to external stylesheet -->
      </head>
      <body>
        <nav class="navbar">
          <h1>My Payments</h1>
          <div class="links">
            <a href="/">Home</a>
            <a class="new-item-link" href="/addpayment">New Payment</a>
          </div>
        </nav>
    
        <div class="content">
          <div class="home">
            <div class="item-list">
              <% if (payment) { %> <%= renderPayment(payment) %> <% } else { %>
              <p>No payment found.</p>
              <% } %>
            </div>
          </div>
        </div>
      </body>
    </html>